@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=ZCOOL+XiaoWei&display=swap');
:root{
    --ag: #F4F1EE
}
.container{
        max-width: 1100px;
        margin: auto;
 }
nav.scrolled {
    box-shadow: 10px -6px 15px black;
}
header{
    background-color: var(--ag);

}
.offcanvas{
    background-color: var(--ag);
    
}
.offcanvas-body ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}
.offcanvas-body {
    margin: auto;
    
}
.offcanvas-body ul li{
    padding-top: 10px;
}

.offcanvas-body ul li a{
    text-decoration: none;
    color: #fff;
    font: 400 16px Montserrat;
    border: 1px solid #D48A5C;
    background-color: #D48A5C;
    max-width: 202px;
    width: 100%;
    padding: 10px 30px;
    display: block;
    text-align: center;

}
.offcanvas-bottom {
    display: flex;
    justify-content:center
}
.offcanvas-bottom img{
    height: 60px;
    width: 80px;
    display: flex;
} 

nav{
    padding: 25px;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    width: 100%;
    background-color: var(--ag);
    z-index: 4;
    left: 0;
}
.nav__left ul{
    display: flex;
    gap: 70px;
    padding-top: 20px;
}
.nav__left ul li a{
    text-decoration: none;
    font: 400 .9em Montserrat;
    color: black;
}
.nav__logo{
    height:53px;
    width: 63px;
}
.nav__right{
    display: flex;
    gap: 70px
}
.nav__right ul{
    display: flex;
    gap: 70px;
    padding-top: 20px;
}
.nav__right ul li a{
    text-decoration: none;
    font: 400 .9em Montserrat;
    color: black;
}
.nav__right-icons{
    display: flex;
    gap: 60px;
    padding-top: 20px;
}

.nav__right-icons img:nth-last-of-type(1){
    height: 17px;
    width: 18px;
} 
nav button{
    display: block;
}
.nav__left , .nav__right{
    display: none;
}
.hero__section{
    height: 100%;
    background-color: var(--ag)
}
.hero__section-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 105px;
    align-items: center
}

.hero__section-content img{
    max-height: 506px;
    max-width: 477px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.hero__section-content-txts{
    padding-top: 75px;
    width:100%;
}
h1{
    font: 400 45px ZCOOL;
    padding-bottom: 33px;
    max-width: 646px;
}
h1 {
    font: 400 32px ZCOOL;
    padding-bottom: 6px;
    max-width: 646px;
}
.hero__section-content-txts p{
    font: 400 18px Open;
    color: #404040;
    padding-bottom: 55px;
    max-width: 500px;
}
.hero__section-btns{
    display: flex;
    flex-direction: row;
    gap: 24px;
    text-align: center;
    justify-content: center;
}
.hero__section-btns button{
    height: 41px;
    width: 135px;
    font: 400 16px Open
}
.hero__section-btns button:nth-of-type(1){
    background-color: #232020;
    color: #fff
}
.hero__section-btns button:nth-of-type(2){
    background-color: var(--ag);
    color: black;
    border: 1px solid #D48A5C;
}
.hero__section-btns button:nth-of-type(2):hover{
    background: #D48A5C;
    color: #fff;
}
.hero__section-btns button:nth-of-type(1):hover{
    background: var(--ag);
    color: #333;
}

.about__section{
    height: 100vh;
    background: url('../img/aboutsection.png') center/cover;
    display: flex;
    justify-content: center;  
    align-items: center;      
    text-align: center;
}
.about__section-content{
    text-align: center;
}
.about__section-content h2{
    font: 400 50px ZCOOL;
    
}
.about__section-content p{
    font: 400 16px Open;
    padding: 10px 0;
}
.about__section-content button{
    height: 41px;
    width: 135px;
    font: 400 16px Open;
    background-color: #232020;
    color: #fff;
}

.coffee__section{
    height: 100%;
    background-color: var(--ag);
    padding: 100px 0;;
}
.coffee__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  
}

.coffee__card {
  position: relative;
  max-width: 350px;
  max-height: 256px;
  z-index: 0;
  width: 100%;
  
}

.coffee__card > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  z-index: 1;

}

.coffee__card::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  background: #c87b52; 
  z-index: -1;
}

.coffee__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}


.coffee__label {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 199px;
  max-height: 82px;
  width: 100%;
  z-index: 3;
}
.coffee__text {
  position: absolute;
  top: 12px;
  left: 20px;
  z-index: 4;
}

.coffee__text h4 {
  font: 400 14px ZCOOL;
}

.coffee__text h5 {
  font: 400 14px ZCOOL;
  margin-top: 4px;
  color: #333;
}

.coffee__overlay p {
  color: #fff;
  font-size: 12px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 4;
}
.product__section{
    min-height: 100vh;
    background-color: var(--ag);
    text-align: center;
    padding: 140px 0;


}
.product__section-content-top h2{
    font: 400 50px ZCOOL;
    color: #232020;
    padding-top: 12px 
}
.product__section-content-top button{
    height: 40px;
    width: 140px;
    background-color:#232020;
    color: #fff;
    font: 400 16px Open;
    text-align: center;
    border: none
    
}
.product__card img{
    position: absolute;
    width: 140px;
    height: 140px;
    z-index: 1;
    left: 0;
    transform: translate(-50%, -50%);
    top: 50%;
}
.product__card h3{
    font: 400 30px ZCOOL; 
    color: #232020;
    
    
}
.product__card p{
    position: absolute;
    right: 20px;
    bottom: 10px;
    font: 600 20px Open;
    color: #D48A5C;
    text-align: right;
    
  
}
.product__section-content{
    gap: 30px;
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}
.product__card {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    height: 114px;
    align-items:center;
    border: 3px solid #414141;
}
.coffeemachine__section{
    height: 100%;
    background-color: #fff;
    position: relative;
    display: flex;
    margin-bottom: 37px;
}
.coffeemachine__section-content-left{
    width: 100%;
    padding-top: 170px;
}
.coffeemachine__section-content h2{
    font: 36px ZCOOL;
    color: #1c1a1a;
    padding-top: 20px;
}
.coffeemachine__section-content p:nth-last-of-type(2){
    font: 16px Open;
    padding-bottom: 10px;
}
.coffeemachine__section-content p:nth-last-of-type(1){
    font: 600 16px Open;
    padding-bottom: 10px;
}
#discoverbtn{
    height: 35px;
    width: 125px;
    background-color: #232020;
    margin-top: 20px;
    color: white;
    border: none
}
#blackcircle {
        height: 513px;
        max-width: 303px;
        width: 100%;
        object-fit: cover;
        position: absolute;
        right: 40%;
        top: 109%;
    }
    #browncircle {
        height: 478px;
        max-width: 292px;
        width: 100%;
        object-fit: cover;
        position: absolute;
        right: 37%;
        top: 115%;
    }
    #machineimg {
        height: 306px;
        max-width: 230px;
        width: 100%;
        object-fit: cover;
        position: absolute;
        right: 39%;
        top: 135%;
    }
    .bestproducts__section{
        margin-top: 150px;
        height: 100%;
        background-color: var(--ag);
        padding: 100px 0;
    }
    .bestproducts__section-content-top{
        padding-bottom: 50px;
        display: flex;
        justify-content: space-between;
    }
    .bestproducts__section-content-top h2{
        font: 55px ZCOOL
    }
    .bestproducts__section-content-top button{
        height: 52px;
        width: 220px;
        background-color: #232020;
        color:#fff;
    }
    .bestproducts__section-content-cards{
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }
    .product-card{
        background-color: #fff;
        max-width:300px;
        width: 100%;
        height: 350px;
    }
    .product-card img{
        height: 180px;
        max-width: 110px;
        width: 100%;
        object-fit: cover;
    }
    .product-card-img{
        background-color: #13131a;
        width: 250px;
        margin: auto;
        text-align: center;
        margin-top: 23px;
        margin-bottom: 30px;
    }
    .product-card-info{
        margin: 23px;
    }
    .review__section{
        height: 100%;
        background-color: var(--ag);
        padding-top:100px;
        text-align: center
    }
    .review__section button{
        height: 35px;
        width: 200px;
        background-color: #232020;
        color: #fff;
        text-align: center;
        margin-bottom: 30px;
    }
    .review__section h2{
        font: 55px ZCOOL;
        color: #1c1a1a;
        margin-bottom: 50px;
    }
    .review__section-content p {
        max-width: 770px;
        margin: 20px auto 50px auto;   
        text-align: center; 
        font: 20px Open;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
    }
    .swiper-button-next{
        color: #D48A5C !important;
        border: 1px solid #D48A5C;
        padding: 30px;
        border-radius:50px;
    }
      .swiper-button-prev{
        color: #D48A5C !important;
        border: 1px solid #D48A5C;
        padding: 30px;
        border-radius:50px;
    }
    .book__section{
        height: 100%;
        background-color: var(--ag);
        padding: 90px 0;
    }
    .book__section-content{
        display: flex;
    }
    .book__section-content-img{
        width: 50%;
    }

    .book__section-content-img img{
        height: 390px;
        width: 100%;
        object-fit: cover;
    }
    .book__section-content-form{
        background-color: #fff;
        width: 50%;
        padding-top: 30px;
        text-align: center;
    }
    .book__section-content-form h5{
        font: 16px Open;
        color: #D48A5C;
        margin-bottom: 5px;
    }
    .book__section-content-form h2{
        font: 29px ZCOOL;
        margin-bottom: 5px;
        color: #1C1A1A
    }
    .book__section-content-form input{
        max-width: 360px;
        min-width: 200px;
        width: 100%;
        display: block;
        height: 50px;
        background-color: var(--ag);
        border: none;
        padding-left: 20px;
        margin: 10px auto;
    }
    .news__section{
        height: 100%;
        padding: 80px 0;
        background-color: var(--ag)
    }
    .news__section-content-top{
        text-align: center;
        margin-bottom: 50px;
    }
    .news__section-content-top button{
        height: 35px;
        width: 160px;
        background-color: #232020;
        color: #fff;
        border: none;
        text-align: center;
        margin-bottom: 10px;
    }
    .news__section-content-top h2{
        font: 55px ZCOOL;
        color: #1c1a1a;
    }
    .news__section-content-cards{
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }
    .news__section-content-cards img{
        height: 309px;
        max-width: 350px;
        width: 100%;
        object-fit: cover;
    }
    .news-card{
        background-color: #1C1A1A;
        min-height: 454px;
        max-width: 350px;
        width: 100%;
    }
    .news-card p{
        font: 14px Open;
        color: #fff;
        margin-left: 27px;
        margin-top: 27px;
    }
    .news-card h5{
        font: 20px ZCOOL;
        margin: 9px 0;
        color: #fff;
        margin-left: 27px;
    }
    .news-card a{
        font: 14px Open;
        color: #EAB665;
        text-decoration: none;
        text-transform: uppercase;
        margin-left: 27px;
        margin-bottom: 5px;
    }
    footer hr{
        margin: 0;
        color: #EAB665;
    }
    .footer__content{
        margin-top: 120px;
        height: 100%;
    }
    .footer-contact{
        display: flex;
        justify-content: space-between;
        margin-bottom: 69px;
    }
    .footer__content a{
        font: 14px Open;
        text-decoration: none;
        color: #1C1A1A;
        
    }
    .footer__content span{
        font-weight: 600;
    }
    .footer-contact div{
        display:flex;
        flex-direction: row;
        align-items:center;
        gap: 10px;
    }
    .footer-contact input{
        height: 40px;
        width: 250px;
        background-color: #F2EAE2;
        font: 14px Open;
        padding-left: 20px;
        color: #8D8D8D;
        border:none
    }
    #footer-input{
        width: 300px;
        background-color: #F2EAE2;
    }
    .footer-socials{
        margin-bottom: 140px;
        display: flex;
        justify-content: space-between;
    }
    #logo{
        height: 58px;
        width: 70px;
        object-fit: cover;
    }
    .footer-socials p{
        max-width: 444px;
        font:16px Open;
        color: #848484
    }
    #socials{
        display: flex;
        gap: 22px;
        align-items:center;
        margin-top: 50px;
    }
    #socials div{
        border: 1px solid #6D6D6D;
        padding: 10px;
        border-radius:4px
    }
    .footer-bottom{
        margin: 27px 0;
        text-align: center;
    }
    .footer-bottom p{
        font: 14px Open;
        color: #979797
    }
    footer{
        position: relative;
    }
    #gotop{
        position: absolute;
        right: 50%;
        top: -5%;
    }




@media (min-width: 768px){
    nav button{
        display: none;
    }
    .hero__section-content{
        flex-direction: row;
        
    }
    h1{
        font: 400 45px ZCOOL;
        padding-bottom: 33px;
    }

    .coffee__section-content{
        flex-direction: row;
        text-align: inherit;
    }
    .coffee__cards{
        flex-direction: row;
    }
    .product__section-content{
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 120px;
}   
    .nav__left , .nav__right{
        display: flex;
    }
    .hero__section-btns{
        justify-content: inherit;
    }
    #machineimg{
    height: 306px;
    max-width: 230px;
    width: 100%;
    object-fit: cover;
    position: absolute;
    right: 16%;
    top: 31%;
    }
    #browncircle{
        height: 479px;
        max-width: 291px;
        width: 100%;
        object-fit: cover;
        position: absolute;
        right: 14%;
        top: 14%;
    }
    #blackcircle{
        height: 537px;
        max-width: 331px;
        width: 100%;
        object-fit: cover;
        position: absolute;
        right: 15%;
        top: 8%;
    }
    .coffeemachine__section-content-left{
    width: 60%;
}
.coffeemachine__section-content-left h2{
        font-size: 55px;
    }

    
}

@media (min-width: 768px) and (max-width: 991.98px){
    .hero__section-content{
        flex-direction: column;
        align-items: center;
    }
    nav button{
        display: block;
    }    
    h1{
        font: 400 45px ZCOOL;
        padding-bottom: 33px;
    }
    .hero__section-btns{
        flex-direction: row;
    }
    .container{
    padding: 0 130px;
    
    }
    .coffee__section-content{
        flex-direction: column;
        text-align: center;
    }  
    .coffee__cards{
        flex-direction: column;
        align-items: center;
    }  
    .product__section-content{
    padding-top: 25px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    place-items: center;
    }
    .nav__left , .nav__right{
        display: none;
    }
    .hero__section-btns{
            justify-content: inherit;
    }
    .coffeemachine__section-content-left{
        width: 100%;
    }
    .coffeemachine__section-content-left h2{
        font-size: 55px;
    }
    #blackcircle {
        height: 513px;
        max-width: 303px;
        width: 100%;
        object-fit: cover;
        position: absolute;
        right: 40%;
        top: 109%;
    }
    #browncircle {
        height: 478px;
        max-width: 292px;
        width: 100%;
        object-fit: cover;
        position: absolute;
        right: 37%;
        top: 115%;
    }
    #machineimg {
        height: 306px;
        max-width: 230px;
        width: 100%;
        object-fit: cover;
        position: absolute;
        right: 39%;
        top: 135%;
    }

}


@media (max-width: 1280px){
    .product__card img{
        height: 110px;
        width: 110px;
    }
    .product__card{
        max-width: 443px;
        width: 100%;
        height: 98px;
    }     
}
@media (max-width: 1400px) and (min-width: 1200px){
    .product__card h3{
        font-size: 24px;
    }
    .product__card img{
        height: 120px;
        width: 120px;
    }
    .product__card{
        height: 104px;
        width: 393px;
        margin-left: 61px;

    }
    nav button{
        display: none;
    }    
.nav__left , .nav__right{
    display: flex;
}
.hero__section-btns{
        justify-content: inherit;
    }

}

@media (max-width: 1200px) and (min-width: 992px){
    .product__card h3{
        font-size: 18px;
    }
    .product__card img{
        height: 90px;
        width: 90px;
    }
    .product__card{
        height: 88px;
    }
    .nav__right-icons button{
        display: none;
    }    
    .nav__left , .nav__right{
    display: flex;
    }
    #browncircle{
    height: 446px;
    max-width: 270px;
    width: 100%;
    object-fit: cover;
    position: absolute;
    right: 16%;
    top: 14%;
    }
    .coffeemachine__section-content-left{
        width: 50%;
    }
    #machineimg{
        right: 17%;
    }
    .container{
    padding: 0 130px}
}
@media (max-width: 470px){
    .imgposition{
        position: relative;
        height: 400px;
    }
    #machineimg {
    height: 230px;
    max-width: 161px;
    width: 100%;
    object-fit: cover;
    position: absolute;
            right: 32%;
        top: 44%;
}
#browncircle {
    height: 380px;
    max-width: 233px;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 121px;
    right: 25%;
}
#blackcircle {
    height: 364px;
    max-width: 264px;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 30%;
    right: 29%;
}
.bestproducts__section-content-cards{
        flex-direction: column;
        align-items:center
    }
    .bestproducts__section-content-top{
        flex-direction: column;
        align-items:center;
        gap: 20px;
    }
    .bestproducts__section-content-top h2{
        font-size: 40px;
    }
         .book__section-content{
        flex-direction: column;
        gap: 30px;
        align-items: center
     }
     .book__section-content-img{
        width: 100%;
    }
    .book__section-content-form{
        width: 100%;
    }
    .news__section-content-cards{
        flex-direction: column;
        align-items:center
    }
    .news__section-content-cards h2{
        font-size: 48px;
    }
    .review__section-content h2{
        font-size: 36px;
    }
    .news__section-content-top h2{
        font-size: 36px;
    }
    .footer-contact{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .footer-socials{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    #logo{
        transform: translate(197%, 0);
        height: 70px;
        width: 73px;
    }
    #footer-input{
        width: 250px;
    }
   .footer-contact input{
        width: 200px;
    }
     #gotop{
        right: 41%;
        top: -3%;
    }
    .product__section-content{
        place-items: center;
    }
    .product__card h3{
        font-size: 16px;
    }
    .product__card{
        max-width: 243px;
        width: 100%;
        height: 74px;
    }
    .product__card p{
        font-size: 16px;
    }
    .product__card img{
        height: 80px;
        width: 80px;
    }
    .hero__section-content-txts{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .about__section-content h2{
        font-size: 36px;
    }

}
@media (min-width:470px) and (max-width: 992px){
    .imgposition{
        position: relative;
        height: 400px;
    }
    #blackcircle{
        top: 0;
        right: 35%;
    }
    #browncircle{
        top: 27px;
        right: 31%;
    }
    #machineimg{
        top: 20%;
        right: 34%;
    }
    .bestproducts__section-content-cards{
        flex-direction: column;
        align-items:center
    }
    .bestproducts__section-content-top{
        flex-direction: column;
        align-items:center;
        gap: 20px;
    }
     .book__section-content{
        flex-direction: column;
        gap: 30px;
        align-items: center
     }
     .book__section-content-img{
        width: 100%;
    }
    .book__section-content-form{
        width: 100%;
    }
    .news__section-content-cards{
        flex-direction: column;
        align-items:center
    }
    .news__section-content-cards h2{
        font-size: 48px;
    }
    .review__section-content h2{
        font-size: 36px;
    }
    .footer-contact{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .footer-socials{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    #logo{
        transform: translate(245%, 0);
        height: 70px;
        width: 73px;
    }
     #gotop{
        position: absolute;
        right: 50%;
        top: -3%;
    }
    .product__section-content{
        place-items: center;
    }
    .product__card {
        max-width: 391px;
        width: 100%;
        height: 88px;
    }
    .product__card img {
        height: 100px;
        width: 100px;
    }
    .product__card h3{
        font-size: 26px;
    }
    .hero__section-content-txts{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .about__section-content h2{
        font-size: 36px;
    }
    .news__section-content-top h2{
        font-size: 36px;
    }

}
